.blog
    .content-area
        margin-bottom: 50px
        #secondary.widget-area
            +display-flex
            +flex-dir(column)
            gap: 50px
            padding-top: 20px
            .wp-block-group
                @extend .base-card
                min-height: auto
                .wp-block-group__inner-container
                    +display-flex
                    +flex-dir(column)
                    gap: 24px
                .wp-block-heading
                    font-size: 20px
                    font-style: normal
                    font-weight: 700
                    line-height: 160%
                    color: $primary-color