$primary-color: #13297E;
$primary-color-100:#1e3ebd;
$secondary-color: #178CEF1F;
$secondary-color-100: #EFF7FE;
$secondary-color-200:#cde8ff;
$secondary-color-300: #EFF7FE;
$black-color: #252525;
$overlay-color: #25252540;
$white-color: #FFFFFF;
$text-gray: #606060;
$blue-gray:rgba(20, 69, 123, 0.70);
$sky-blue: #178CEF;
$border-gray:#ECECEC;
$border-gray-2: #C7D4E2;
$sec-btn:#EFF7FE;


// gradient
$gradient-color: linear-gradient(90deg, #178CEF 0%, #349BEF 26.56%, #76B9F0 55.21%, #8FC5F1 80.21%, #B0D6F5 100%);

// box-shadow
$box-shadow-color:0px 0px 12px 1px rgba(23, 140, 239, 0.24);
