.card
    @extend .base-card
    margin: 50px 10px
    &-icon 
        padding-bottom: $base-padding
    &-title 
        padding-bottom: $base-padding
        margin-bottom: $base-padding
        +border-btm
        
    &-desc
        padding-bottom: 32px
        color: $text-gray
    &-info
        .card-info-icon
            +display-flex
            +align-items(center)
            gap: $base-padding
            +transition(.3s ease-in-out)
            .icon
                background-color: $secondary-color
                @extend %display-center
                +radius(50%)
                height: 50px
                width: 50px
            path,svg
                +transition(.3s ease-in-out)
            &:hover
                color: $primary-color-100
                path
                    fill: $primary-color-100 !important
                svg
                    transform: scale(1.2)
            span
                @extend %bold
    &-img 
        width: 50px
    
    &-read-more
        +display-flex
        +align-items(center)
        gap: 4px
        @extend %semi-bold
        color: $primary-color

.card-sky-blue
    @extend .card
    +bg-color($sky-blue)
    color: $white-color
    .card-desc
        color: $white-color
    a
        color: $white-color

.card-schedule
    @extend .card
    +bg-color($sky-blue)
    color: $white-color
    .card-desc
        color: $white-color
    &-body
        .schedule
            +display-flex
            +flex-just(space-between)
            +border-btm
            padding-bottom: 20px
            &:nth-child(2)
                padding-top: 20px
            &:nth-child(3)
                padding-bottom: 0px
                border-bottom: 0
                padding-top: 20px
                
// department card
.department-card
    @extend .base-card
    padding: 32px
    +display-flex
    +flex-dir(column)
    gap: 16px
    margin: 50px 10px
    &-desc
        color: $text-gray
    .tick-points
        gap: 16px
    .btn-primary
        width: 180px
        margin-top: 16px
.team
    +display-flex
    gap:  48px
    &-card
        @extend .base-card
        padding: 0
        margin: 50px 10px
        .social-link
            background-color: $secondary-color-100 !important
    &-profile
        height: 380px
        +radius(4px)
        overflow: hidden
        img
            width: 100%
            height: 100%
            object-fit: cover
    &-info 
        padding: 20px 32px
        gap: 16px
        +display-flex
        +flex-dir(column)
        
    &-name 
        color: $primary-color
    &-profession
        @extend %semi-bold
    &-uni 
        color: $text-gray
        font-size: 14px
    &-desc
        color: $text-gray
    

.pricing-card
    @extend .base-card
    +display-flex
    +flex-dir(column)
    gap: 24px
    .price
        .pricing-price
            color: $primary-color
        .pricing-title
            @extend %uppercase

    .pricing-plan
        &-desc
            border-bottom: 1px solid $border-gray
            p:nth-child(1)
                @extend %semi-bold
                margin-bottom: 12px 
            p:nth-child(2)
                margin-bottom: 16px
        &-points
            padding-top: 16px
            +display-flex
            +flex-dir(column)
            gap: 16px
            li
            padding-top: 16px
            color: $text-gray
            .price-point
                +display-flex
                gap: 9px
                &::before
                    content: url("../assets/icons/tick-mark.svg")
                    padding-top: 3px
            .price-point.exclude
                &::before
                    content: url("../assets/icons/cross.svg")

            
.pricing-card.active
    background: $primary-color
    color: $white-color
    position: relative
    overflow: hidden
    &::after
        content: 'Popular'
        position: absolute
        background: $white-color
        height: 24px
        color: $primary-color
        @extend %display-center
        width: 200px
        font-size: 12px
        transform:  rotate(40deg)
        top: 3%
        right: -17%
        +sm 
            top: 5%
            right: -9%
        +md 
            top: 5%
            right: -6%
        +lg
            top: 3%
            right: -20%
    .price
        .pricing-price 
            color: $white-color
    .pricing-plan-points
        color: $white-color
        .price-point
            &::before
                content: url("../assets/icons/tick-mark-white.svg")
    .btn-primary
        background: $white-color
        color: $primary-color
        @extend %semi-bold

// testimonials card
.testimonial-card
    @extend .base-card
    margin: $gap-sm
    +display-flex 
    +flex-dir(column)
    +flex-just(space-between)
    &-rating
        +display-flex
        .star
            height: 20px 
            width: 20px
    &-desc
        color: $text-gray
    &-profile
        +display-flex
        gap: 24px
        .profile-image
            width: 60px
            +radius(50%)
            overflow: hidden
        .profile-info
            &-name 
                @extend %semi-bold
                color: $primary-color
            &-title 
                font-size: 14px

.article
    &__card
        @extend .base-card
        padding: 0
        max-width: auto
        +xl
            max-width: 352px
        .article__img
            border-radius: 4px 4px 0 0
            overflow: hidden
            img
                object-fit: cover
        .article__body
            padding: $padding-md
            +display-flex
            +flex-dir(column)
            gap: 16px
            &__top
                +border-btm
                .article__tags
                    +display-flex
                    +align-items(center)
                    gap: 24px
                    flex-wrap: wrap
                    margin-bottom: $base-padding
                    .tag
                        a
                            font-size: 14px 
                            color: $primary-color
                            @extend %semi-bold
                            +transition(0.3s ease)
                            &:hover
                                color: $primary-color-100
                    .tag:not(:last-child)
                        position: relative
                        &::after
                            content: ''
                            position: absolute
                            top: 15%
                            right: -14%
                            height: 70%
                            width: 1.5px
                            background: $border-gray
                .artile__title
                    margin-bottom: $base-padding
                    cursor: pointer
                    +transition(0.3s ease)
                    &:hover
                        color: $primary-color
            &__bottom
                color: $text-gray
    &__related__card
        padding-bottom: 30px
        +border-btm
        margin-bottom: $padding-md
        .article__title
            cursor: pointer
            +transition(0.3s ease)
            &:hover
                color: $primary-color
        .article__info
            +display-flex
            +align-items(center)
            gap: $gap-xs


.process-card
    min-height: 306px
    .process-top
        +display-flex
        +flex-just(center)
        .icon
            +radius(50%)
            background: $secondary-color
            height: 150px
            width: 150px
            @extend %display-center
            position: relative
            .sn
                position: absolute
                background: $primary-color
                color: $white-color
                +radius(50%)
                @extend %display-center
                height: 48px 
                width: 48px
                top: 60%
                right: 2%
    .process-btm
        @extend %display-center
        +flex-dir(column)
        gap: 16px
        padding-top: 24px
        .heading
            text-align: center
        .desc
            color: $text-gray
            text-align: center
    
.aside-contact-card
    +radius(4px)
    background-image: url("../assets/images/doctor-talking.png")
    background-repeat: no-repeat
    background-size: cover
    max-height: 480px
    height: 480px
    position: relative
    overflow: hidden
    background-position-y: 25% 
    background-position-x: 80%
    +lg 
        background-position-y: 0
    .overlay
        position: absolute
        inset: 0
        background: linear-gradient(0deg, rgba(19, 41, 126, 0.92) 0%, rgba(19, 41, 126, 0.92) 26.04%, rgba(19, 41, 126, 0.92) 43.75%, rgba(19, 41, 126, 0.92) 51.19%, rgba(19, 41, 126, 0.83) 55.55%, rgba(19, 41, 126, 0.74) 60.37%, rgba(19, 41, 126, 0.64) 66.15%, rgba(19, 41, 126, 0.37) 75%, rgba(19, 41, 126, 0.18) 85.42%, rgba(19, 41, 126, 0.00) 100%)
        +display-flex
        +flex-dir(column)
        +flex-just(end)
        .overlay-content
            padding: 41px
            color: $white-color
            .heading
                text-align: center
            .contact
                +display-flex
                +align-items(center)
                +flex-just(center)
                gap: 16px
                margin-top: 12px
                flex-wrap: wrap
                span
                    height: 50px
                    width: 50px
                    +radius(50%)
                    background: #EFF7FE
                    @extend %display-center
                a
                    color: $white-color


.category-card
    @extend .base-card
    padding: 24px 
    +display-flex
    +flex-dir(column)
    gap: 24px
    min-height: auto
    .category-heading
        color: $primary-color
        @extend %bold
    .categories
        +display-flex
        +flex-dir(column)
        gap: 20px
        li
            +display-flex
            gap: 12px
            +align-items(center)
            a 
                +display-flex
                width: 100%
                +align-items(center)
                +flex-just(space-between)
                color: $text-gray
            &::before
                content: url('../assets/icons/gte-arrow.svg')
                // color: $text-gray
        li:not(:last-child)
            padding-bottom: 20px
            border-bottom: 1px solid $border-gray
    
.recent-blog-card
    @extend .base-card
    padding:24px 
    +display-flex
    +flex-dir(column)
    gap: 24px
    .card-heading
        @extend %bold
        color: $primary-color
    .card-body
        +display-flex
        +flex-dir(column)
        gap: 24px
        .blog-item
            +display-flex
            +flex-dir(column)
            gap: 16px
            padding-bottom: 24px
            .blog-heading
                @extend %bold
            .blog-date
                color: $text-gray
                @extend %semi-bold
        .blog-item:not(:last-child)
            border-bottom: 1px solid $border-gray

.tags-card
    @extend .base-card
    padding:24px 
    +display-flex
    +flex-dir(column)
    gap: 24px
    min-height: auto
    .card-heading
        color: $primary-color
        @extend %bold
    .card-body
        +display-flex
        gap: 16px
        flex-wrap: wrap
        li
            a
                padding: 4px 16px
                border: 1px solid $border-gray
                +radius(4px)
                color: $text-gray
                +transition(0.3s ease)
                &:hover
                    color: $primary-color
                    border-color: $primary-color

.quotes-card
    background: $secondary-color
    padding: 24px 
    border-left: 4px solid $primary-color
    position: relative
    &::after
        content: url("../assets/icons/quote.svg")
        position: absolute
        bottom: 2%
        right: 5%
    .quote
        margin-bottom: 24px
        color: $primary-color
    .writer
        color: $text-gray
        span
            color: $black-color
