.counter-section
    background-color: var(--medi-secondary-color)
    padding: 70px 0
    color: var(--medi-primary-color)
    .counter-con
        // @extend %display-center
        margin-bottom: $padding-xl
        +xl
            margin-bottom: 0
        &:not(:last-child)
            position: relative
            &::after
                content: ""
                position: absolute
                height: 100%
                width: 1px
                background-color: $border-gray-2
                right: -3%
                top: 0
                display: none 
                +md 
                    display: block
    .counter-con:nth-child(2)
        &::after
            display: none
            +xl
                display: block
    .counter
        // flex: 1
        +display-flex
        +align-items(center)
        gap: 24px
        +sm
            gap: 100px
        +md 
            gap: $gap-md
        
        .counter-icon,.counter-text
            flex: 1
        .counter-icon 
            +display-flex
            +flex-just(center)
            +sm
                +flex-just(end)
        
        p
            @extend %uppercase
            font-size: $font-md
        