.partners
    padding: 30px 0
    +sm 
        padding: 40px 0
    +lg
        padding: 60px 0
    .partner__logo
        @extend %display-center
        img
            min-height: 62px
            height: 64px
            max-height: 82px
            object-fit: contain
            +md
                object-fit: cover
    .owl-dots
        margin-top: 30px
        .owl-dot
            height: 12px
            width: 12px 
        .owl-dot.active
            height: 14px
            width: 14px