.partners
    padding: 60px 0
    .partner__logo
        @extend %display-center
        img
            // width: 50%
            min-height: 72px
            height: 80px
            max-height: 94px
            object-fit: contain
            +md 
                object-fit: cover