.pricing
    padding: 50px 0
    +md 
        padding: $container-top-bottom-padding 0
    &-con 
        +display-flex
        +flex-dir(column)
        gap: $base-gap
    &-btns-con 
        @extend %display-center
    &-btns 
        background: var(--medi-primary-color)
        border: 6px solid var(--medi-primary-color)
        +radius(4px)
        button
            color: $white-color
            padding: 12px 32px
            border: 0
            +radius(4px)
            @extend %semi-bold
        .active
            background: $white-color
            color: var(--medi-primary-color)
    .pricing-card
        margin: 10px
    .center-heading
        text-align: center